body {
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0,0,0,.9);
}

main {
    width: calc(100% - 30%);
    margin:auto;
    background-color: #000323;
}

/*formatação para o cabecalho*/
header {
    display: flex;
    justify-content: center;
}

header h1{
    font-size: 12pt;
    border:1px solid;
    border-color: #aaa white white #aaa;
    padding: 10px 30px;
    display: inline;
    color:white;
    letter-spacing: 10px;
    font-weight: normal;
}

