//header
header {

  margin: 30px auto 100px !important;

  //container
  div.row {

    justify-content: center;

    //logo
    div.logo {
      border: 1px inset #fff;
      padding: 10px 40px;
      letter-spacing: 6px;
    }

    //End logo

  }

  //End container

}

//End header