@media (max-width: 1050px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 950px) {
  .container {
    width: 850px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 850px) {
  .container {
    width: 600px;
  }

  .row {
    flex-direction: column;
  }

  header {
    div.row {
      div.logo {
        align-self: center;
      }
    }
  }

  main {
    section.row {
      article {
        width: 100%;
        margin: 0 0 30px;

        hgroup {

          h1,
          h2,
          h3 {
            text-align: center;
          }
        }
      }

      aside {
        border: 1px solid $color-secondary;
        border-radius: 20px;
        padding: 20px 0 30px;
        background-color: rgba($color-background, .1);
        box-shadow: 1px 1px 10px #fff;

        form {
          width: 100%;

          h1 {
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 620px) {
  .container {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 350px) {
  .container {
    width: 90%;
  }
}